/* start General rules  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
.container{
    width: 80%;
    margin: auto;
}
.clr{
    clear: both;
}
/* end General rules */

/* start nav */
.nav{
    background-color: black;
    padding: 24px 0;

}
.nav .logo{
    width: 140px;
    display: block;
    float: left;
    padding-top: 7px;
}
.nav ul li{
    float: right;
    margin-right:10px ;
    padding: 8px;
    box-sizing: border-box;

}
.nav ul li a{
    font-family: 'Monrserrat' , sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
/* end nav */
/* start master section */
    .master-section{
        height: 100vh;
        background-image: url(../images/header-bg.jpg);
        background-size: cover;
        color: white;
    }
    .master-section .container{
        text-align: center;

        padding-top: 5px;

    }
    .master-section .container .content{
        padding-top: 200px;

    }
    .master-section .container .content p{
        font-family:"Roboto slab" ,sans-serif;
        font-size: 36px;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 32px;
    }
    .master-section .container .content h1{
        font-family: 'Monrserrat' , sans-serif;
        font-size: 72px;
        font-weight: 700;
        margin-bottom: 64px;
        text-transform: uppercase;
    }
    .master-section .container .content input{
        background-color: #FFC800;
        font-family: 'Monrserrat' , sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: wheat;
        width: 223px;
        height: 68px;
        border: none;
    }
/* end master section */

/* start potfolio */
.portfolio{
    padding: 96px 0;
    text-align: center;
    background-color: #eee;
}

.portfolio .text h2{
    margin-bottom: 16px;
    font-family: 'Monrserrat' , sans-serif;
    font-size: 40px;
    font-weight: 700px;
    text-transform: capitalize;
}
.portfolio .text p{
    font-family:"Roboto slab" ,sans-serif;
    color: #6c757d;
    font-style: italic;
    margin-bottom: 64px;
}
.portfolio .items{

}
.portfolio .items .item{
    float: left;
    width: 33.33%;
    padding: 10px;
}
.portfolio  .item img{
    width: 100%;
    display: block;
}
.portfolio  .item h3{
    font-family: 'Monrserrat' , sans-serif;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0 10px;
}
.portfolio  .item p{
    font-family:"Roboto slab" ,sans-serif;
    color: #6c757d;
    font-style: italic;
    text-transform: capitalize;
}
